.dropdown-menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: linear-gradient(90deg,
        rgb(170, 140, 70) 0%,
        rgb(252, 223, 104) 100%);
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: linear-gradient(90deg,
        rgb(200, 180, 100) 0%,
        rgb(252, 223, 104) 100%);
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}